<ion-card>
  <ion-card-header>
    <ion-card-title class="center">ATTESTATION DE DÉPLACEMENT DÉROGATOIRE</ion-card-title>
    <ion-card-subtitle class="center">En application de l’article 1er du décret du 16 mars 2020 portant réglementation des
      déplacements dans le cadre de la lutte contre la propagation du virus Covid-19 :
    </ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    <div>
      Je soussigné{{female()}} <br>
      <span class="col_left">{{genre()}} </span>
      <span class="col_right"><strong>{{this.storage.get("prenom", "")}} {{this.storage.get("nom", "")}}</strong></span> <br>

      <span class="col_left">Né{{female()}} le :</span>
      <span class="col_right"><strong>{{this.storage.get("naissance", "") | date:'dd/MM/yyyy'}}</strong></span> <br>

      <div>
        <span class="col_left">Demeurant :</span>
        <span class="col_right"><strong>{{this.storage.get("adresse1", "")}}</strong></span> <br>
      </div>
      
    <div *ngIf='this.storage.get("adresse2", "") !== ""'>
      <span class="col_left"></span>
      <span class="col_right"><strong>{{this.storage.get("adresse2", "")}}</strong></span> <br>
    </div>

      <span class="col_left"></span>
      <span class="col_right"><strong>{{this.storage.get("code", "")}} {{this.storage.get("ville", "")}}</strong></span> <br>
    </div>

    <div>
      certifie que mon déplacement est lié au motif suivant (cocher la case) autorisé par
      l’article 1er du décret du 16 mars 2020 portant réglementation des déplacements dans
      le cadre de la lutte contre la propagation du virus Covid-19 : <br>
    </div>
  </ion-card-content>

  <ion-card-content>
    <div class="choosed">
      <p>
        <ion-icon name="checkbox" size="medium" color="primary"></ion-icon>
        {{this.motif.getMotif(this.storage.get("motif", 1))}}
      </p>
    </div>
  </ion-card-content>
  
  <ion-card-content>
    <div class="right">
      Fait à {{ville}}, le {{ today | date:'dd/MM/yyyy' }} <br>
    </div>

    <div class="right">
      <img src='{{this.storage.get("signature", "")}}' alt="Signature">
    </div>
  </ion-card-content>

</ion-card>